@media (max-width: 600px) and (min-width: 300px){
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    /* HERO SECTION */
    .hero-container {
      position: relative;
      padding-right: 20px;
    }

     .hero-logo h1 {
      letter-spacing: 0.8rem;
      margin-bottom: 1.5rem;
    }

   .hero-logo h2 {
    font-size: 1rem;
    position: absolute;
    right: 0rem;
    font-weight: 500;
   }

   .main-video-container {
    position: absolute;
    top: 6%;
   }

   .video_container,
   .video_container-1 {
    opacity: 0;
   }

   .video_container-2 {
    margin-left: 1.9rem;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
   }

   .hero-extra {
    position: absolute;
    top: 67%;
    right: 0;
   }

   .hero-extra-span {
    font-size: 2.5rem;
    font-weight: 400;
   }

   .hero-extra p {
    font-size: 2.7rem;
    margin-bottom: 0;
    line-height: 1.2;
   }

   .hero-extra-text {
    margin-right: 2rem;
   }

   .hero-extra-text-1 {
    margin-right: 9rem;
   }

   .hero-extra-text-2 {
    margin-right: 1rem;
   }

  /* DROP DOWN MENU AND HAMBURGER */
  /* Hamburger Button */
  .mobile-nav {
    width: 100%;
    max-width: 767px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hamburger {
    cursor: pointer;
    position: fixed;
    top: 4px;
    right: 10px;
    z-index: 1000;
  }

  .mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
  }

  .contact-social-container {
    position: absolute;
    left: 21%;
    bottom: 0;
  }

  .mobile-container {
    height: 80%;
  }

  .logo P {
    font-size : 2rem;
    position: absolute;
    top: 5%;
  }

  .nav-list{
    padding: 0;
    position: absolute;
    top: -7%;
    left: 20%;
  }

  .nav-list li {
    margin: 0;
    width: 300px;
  }

  .nav-list a {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .social-links-2 {
    padding: 0;
    flex-direction: column;
    gap: 0.5rem;
    width: 70px;
    margin-top: 30px;
  }

  /*ABOUT SECTION*/
  .scrolling-text {
    font-size: 20vw;
    animation: scroll 25s linear infinite;
  }

  .card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
  }

  #about {
    height: 115vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .center-image {
    width: 100%;
    position: absolute;
    top: 34%;
    left: 54%;
  }

  .center-image img {
    width: 80%;
  }

  .card-container {
    position: absolute;
    top: 59%;
    left: 2.5%;
    width: 95%;
    height: 360px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .name,
  .name span,
  .title {
    font-size: 18px;
  }

  .title {
    padding: 5px;
  }

  .bio {
    font-size: 10px;
  }

  .signature {
    font-size: 19px;
    margin-top: 0;
  }

  .wrapper-1 {
    position: absolute;
    top: 84%;
    left: 5%;
    width: 60%;
    scale: 1.01;
  }

  /* TRUST SECTION */
  .trust-section {
    width: 90%; 
  }

  /*SERVICES SECTION*/
  .services {
    height: auto;
  }

  .testimonials-container {
    width: 600px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aside .statement {
    width: 95%;
    margin-left: 2.5%;
  }

  .name {
    margin-left: 2.5%;
  }

  /*FOOTER*/
  .footer-left {
    position: relative;
  }

  .logo-3 {
    font-size: 1rem;
  }

  .footer {
    padding: 1rem 5px;
    height: 26vh;
  }

  .nav-links-5 li {
    font-size: 0.5rem;
  }

  .subtext {
    width: 150px;
    font-size: 0.6rem;
    margin-right: 0.5rem;
  }

  .lets-chat {
    font-size: 1.1rem;
    display: flex;
    align-items: flex-end;
    height: 30%;
  }

  .cta {
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-right: 15px;
  }

  .arrow {
    font-size: 1rem;
  }

  .social-links-5 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
  }

  .social-links-5 li {
    font-size: 0.5rem;
  }

  .footer-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 40px;
    padding-left: 35px;
  }

  .brand {
    opacity: 1;
    font-size: 13vw;
    margin-right: 20px;
    letter-spacing: 0.3rem;
  }

  .copyright {
    font-size: 0.5rem;
  }

  .cta:hover .arrow {
    font-size: 1rem;
    scale: 1.1;
  }

  /*CONTACT SECTION*/
  .icon-1 {
    position: absolute;
    bottom: 100%;
    left: -15%;
  }

  /* EXPLORE GALLERY SECTION */
  #explore-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    overflow: hidden;
    height: 105vh;
  }

  .work-preview-text {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 2.5rem;
    top: 2rem;
  }

  .img-container {
    position: absolute;
    bottom: 5%;
    left: 35%;
    max-width: 120px;
    height: 150px;
  }
  
  .img-container span {
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(200px);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }


  .work-preview-text h1 {
    font-size: 1.7rem;
  }

  .work-preview-text p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1204px) and (min-width: 768px) {
  
  .nav-list{
    padding-right: 0;
  }

  .main-video-container { 
    position: absolute;
    top: 13%;
    left: -0.5%;
    width: 100%;
  }

  .video_container,
  .video_container-1 {
    width: 50%;
  }

  .hero-logo h1 {
    font-size: 12.5vw;
    letter-spacing: 2rem; 
  } 

  .video_container-2{
    display: none;
  }

  /*ABOUT SECTION*/
  .center-image {
    position: absolute;
    left: 25%;
    top: 50%;
  }

  .center-image img {
    width: 60%;
  }

  .card-container {
    position: absolute;
    left: 49%;
    width: 50%;
    height: 56%;
  }

  /*EXPLORE GALLERY SECTION*/
  #explore-gallery {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .work-preview-text {
    position: absolute;
    left: 2%;
    margin-top: 80px;
    width: 40%;
    height: 80%;
  }

  .img-container {
    position: absolute;
    right: 21%;
    bottom: 40%;
    max-width: 150px;
    height: 200px;
  }
  
  .img-container span {
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(250px);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  /*CREATOR PROCESS*/
  .video-showcase {
    width: auto;
    height: auto;
    display: flex;
  }

  .photography-container {
    height: auto;
  }

  .video-card{
    width: 260px;
  }

  /*SERVICES*/
  .services {
    height: auto;
  }

  .pricing-card {
    width: 300px;
  }

  .pricing-container {
    gap: 0.6rem;
  }

  .site {
    width: 100%;
  }

  .testimonials-container {
    width: 100%;
  }

  .testimonials {
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: -20%;
    font-size: 2rem;
  }

  .lets-chat {
    height: 49.6px;
    font-size: 1.56rem;
    height: 25px;
    margin-left: -5px;
  }

  .brand {
    font-size: 10.5vw;
  }
}

/* Responsive Design */
@media (max-width: 1100px) {
    .video-showcase {
        gap: 30px;
    }
    
    .video-card {
        min-width: 210px;
    }
}

@media (max-width: 900px) and (min-width: 720px) {
  .contact-form {
    margin-right: 10px;
  }

  .contact-info {
    height: 560.6px;
  }

  .social-icons {
    position: absolute;
    top: 30%;
    left: -8%;
  }

  .back-to-top {
    height: 10vh;
  }
}